<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; My Blog</title>
	<atom:link href="https://lotka-llc.github.io/pay/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://lotka-llc.github.io/pay/</link>
	<description>My WordPress Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 19:30:49 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
	<item>
		<title></title>
		<link>https://lotka-llc.github.io/pay/2020/07/26/5/</link>
					<comments>https://lotka-llc.github.io/pay/2020/07/26/5/#respond</comments>
		
		<dc:creator><![CDATA[lotka]]></dc:creator>
		<pubDate>Sun, 26 Jul 2020 19:30:49 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://lotka-llc.github.io/pay/?p=5</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[
  <style>
    #EZD_MainForm {  width: 400px;  height: auto;  margin: 0 auto;  direction: rtl; }  #EZD_Form {  width: 96%;  height: auto;  float: right;  padding: 10px 2%; }  #EZD_Message,#EZD_Error {  width: 90%;  margin-top: 10px;  margin-right: 2%;  float: right;  padding: 5px 2%;  border-right: 2px solid #006704;  background-color: #e7ffc5;  color: #00581f; }  #EZD_Error {  border-right: 2px solid #790000;  background-color: #ffc9c5;  color: #580a00; }  .EZD_FormItem {  width: 90%;  margin-top: 10px;  margin-right: 2%;  float: right;  padding: 5px 2%; }    .EZD_FormLabel {  width: 35%;  float: right;  padding: 3px 0; }  .EZD_ItemInput {  width: 64%;  float: left; }  .EZD_ItemInput input {  width: 90%;  float: right;  border-radius: 3px;  box-shadow: 0 0 2px #00c4ff;  border: 0px solid #c0fff0;  font-family: inherit;  font-size: inherit;  padding: 3px 5px; }  .EZD_ItemInput input:focus {  box-shadow: 0 0 4px #0099d1; }  .EZD_ItemInput input.error {  box-shadow: 0 0 4px #ef0d1e; }  input.EZD_Submit {  background: none repeat scroll 0 0 #2ea2cc;  border-color: #0074a2;  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);  color: #fff;  text-decoration: none;  border-radius: 3px;  border-style: solid;  border-width: 1px;  box-sizing: border-box;  cursor: pointer;  display: inline-block;  font-size: 13px;  line-height: 26px;  margin: 0;  padding: 0 10px 1px;  margin: 10px auto;  width: 50%;  font: inherit;  float: right;  margin-right: 24%; }
  </style>
      <div style="clear:both;width:100%;float:right;">
	        <div id="EZD_MainForm">
          <div id="EZD_Form"><form method="post">
              <div class="EZD_FormItem">
                <label class="EZD_FormLabel">مبلغ :</label>
                <div class="EZD_ItemInput">
                  <input style="width:60%" type="text" name="EZD_Amount" value="" />
                  <span style="margin-right:10px;">تومان</span>
                </div>
              </div>
              
              <div class="EZD_FormItem">
                <label class="EZD_FormLabel">نام و نام خانوادگی :</label>
                <div class="EZD_ItemInput"><input type="text" name="EZD_Name" value="" /></div>
              </div>
              
              <div class="EZD_FormItem">
                <label class="EZD_FormLabel">تلفن همراه :</label>
                <div class="EZD_ItemInput"><input type="text" name="mobile" value="" /></div>
              </div>
              
              <div class="EZD_FormItem">
                <label class="EZD_FormLabel">ایمیل :</label>
                <div class="EZD_ItemInput"><input type="text" name="email" style="direction:ltr;text-align:left;" value="" /></div>
              </div>
              
              <div class="EZD_FormItem">
                <label class="EZD_FormLabel">توضیحات :</label>
                <div class="EZD_ItemInput"><input type="text" name="EZD_Description" value="" /></div>
              </div>
              
              <div class="EZD_FormItem">
                <input type="submit" name="submit" value="پرداخت" class="EZD_Submit" />
              </div>
              <!--

                //////////////////////////////////
                //                              //
                //    Erima Zarrinpal Donate    //
                //        By Seyyed AMir        //
                //      http://www.DBlog.ir     //
                //                              //
                //////////////////////////////////
            -->
              
            </form>
          </div>
        </div>
      </div>
	
]]></content:encoded>
					
					<wfw:commentRss>https://lotka-llc.github.io/pay/2020/07/26/5/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hello world!</title>
		<link>https://lotka-llc.github.io/pay/2020/07/26/hello-world/</link>
					<comments>https://lotka-llc.github.io/pay/2020/07/26/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[lotka]]></dc:creator>
		<pubDate>Sun, 26 Jul 2020 19:00:07 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">https://lotka-llc.github.io/pay/?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://lotka-llc.github.io/pay/2020/07/26/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
